.SelectArmy {
    margin-block-start: 2rem;
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    text-align: center;
}

.SelectArmy-Row {
    margin-block-end: 2px;
    margin-block-start: 2px;
}
