{
    "arrowParens": "avoid",
    "useTabs": false,
    "printWidth": 110,
    "tabWidth": 2,
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "parser": "typescript",
    "semi": false,
    "endOfLine": "auto"
}