.Reminders {
    padding: 40px;
}

.ReminderEntry {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0px;
    margin-block-end: 0px;

    /* Force newlines to render */
    white-space: pre-line; 
}
.ReminderHeader {
    margin-bottom: 0;
}
small {
    font-size: 12px;
}