
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.04, 1.04, 1.04);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.less-pulse {
    animation-name: pulse;
}