@import "./theme.scss";

/* Make sure our document fills the page - important for dark theme! */
html, body, #root {
    margin: 0;
    height: 100%;
}

/* Elements */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

small {
    font-size: 12px;
}

/* Custom Classes */

.LoadingContainer {
    padding-top: 40vh;
}

.CardHeaderTitle {
    margin-bottom: 0;
}

.DisclaimerText {
  font-size: 11px;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.bg-themeDarkBluePrimary {
    background-color: $themeDarkBluePrimary;
}
.bg-themeDarkBlueSecondary {
    background-color: $themeDarkBlueSecondary;
}
.bg-themeLightBlue {
    background-color: $themeLightBlue;
}
.bg-profileHeader {
    background-color: rgba(28,117,149, .15); // $themeLightBlue
}
.bg-themeLightGray {
    background-color: $themeLightGray;
}

.text-light-gray {
    color: $themeLightGray !important;
}

.ReminderEntry {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0px;
    margin-block-end: 0px;
}

.SelectArmy {
    margin-block-start: 2rem;
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    text-align: center;
}

.SelectArmy-Row {
    margin-block-end: 2px;
    margin-block-start: 2px;
}

/* Modal */

.Modal-Light {
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
}

.Modal-Dark {
    @extend .Modal-Light;
    border:1px solid $themeLightGray;
    background-color: $themeDarkBlueTertiary;
}

.Modal-Transparent {
    @extend .Modal-Light;
    background-color: rgba(0, 0, 0, 0.0);
}

.Overlay-Light {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

.Overlay-Dark {
    @extend .Overlay-Light;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Dropzone */
.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
  }
  
  .dropzone:focus {
    border-color: #2196f3;
  }
  
  .dropzone.disabled {
    opacity: 0.6;
  }

  /* Dropzone Dark Mode */
.dropzone-dark {
    @extend .dropzone;
    background-color:black;
    color: whitesmoke;
  }
  
  .dropzone-dark:focus {
    border-color: #2196f3;
  }
  
  .dropzone-dark.disabled {
    opacity: 0.6;
  }

@media (max-width: 575.98px) {
    .ReminderCardBody {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

@media (max-width: 395px) {
    .CardHeaderTitle {
        font-size: 1.1rem;
    }
}

@media (max-width: 374px) {
    .CardHeaderTitle {
        font-size: 0.8rem;
    }
}

/* Print styles/helpers below */
.PageBreak {
    /* https://www.w3schools.com/cssref/pr_print_pagebi.asp */
    page-break-inside: avoid !important;
}

@media print {

    .text-white, .text-light, .text-white-50, .text-white-75 {
        color: black !important;
    }

    header>h1 {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 0.5rem;
    }

    .CardHeaderTitle {
        font-size: 1.1rem;
    }

    .card-header {
        background: white;
        padding: 0.5rem 1.25rem;
    }

    .card-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .ReminderCardBody {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ReminderContainer {
        flex: 0 0 90% !important;
        max-width: 90% !important;
    }

    .ReminderEntry {
        font-size: 0.9rem;
    }

}