@import "./theme.scss";

/* Elements */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

small {
    font-size: 12px;
}

/* Custom Classes */

.LoadingContainer {
    margin-top: 40vh;
}

.CardHeaderTitle {
    margin-bottom: 0;
}

.DisclaimerText {
  font-size: 11px;
}

.ThemeDarkBg {
    background-color: $themeDarkBluePrimary;
}

.text-light-gray {
    color: $themeLightGray !important;
}

.ReminderEntry {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0px;
    margin-block-end: 0px;
}

.ReminderHeader {
    background-color: $themeDarkBluePrimary;
    color: white;
}

.SelectArmy {
    margin-block-start: 2rem;
    margin-inline-end: 5%;
    margin-inline-start: 5%;
    text-align: center;
}

.SelectArmy-Row {
    margin-block-end: 2px;
    margin-block-start: 2px;
}

.SelectorHeader {
    background-color: $themeLightBlue;
    color: white;
}

/* Dropzone */
.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
  }
  
  .dropzone:focus {
    border-color: #2196f3;
  }
  
  .dropzone.disabled {
    opacity: 0.6;
  }


@media (max-width: 575.98px) {
    .ReminderCardBody {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

@media (max-width: 395px) {
    .CardHeaderTitle {
        font-size: 1.1rem;
    }
}

@media (max-width: 374px) {
    .CardHeaderTitle {
        font-size: 0.8rem;
    }
}

/* Print styles/helpers below */
.PageBreak {
    /* https://www.w3schools.com/cssref/pr_print_pagebi.asp */
    page-break-inside: avoid !important;
}

@media print {

    header>h1 {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 0.5rem;
    }

    .CardHeaderTitle {
        font-size: 1.1rem;
        color: black;
    }

    .card-header {
        background: white;
        padding: 0.5rem 1.25rem;
    }

    .card-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .ReminderCardBody {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ReminderContainer {
        flex: 0 0 90% !important;
        max-width: 90% !important;
    }

    .ReminderEntry {
        font-size: 0.9rem;
    }

    .ReminderHeader {
        background-color: white;
        color: black;
    }

}