.ReminderEntry {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0px;
    margin-block-end: 0px;
}

.ReminderHeader {
    background-color: #063647;
    color: white;
}

small {
    font-size: 12px;
}

/* Print styles/helpers below */
.PageBreak {
    /* https://www.w3schools.com/cssref/pr_print_pagebi.asp */
    page-break-inside: avoid !important;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
/* Disabled because it was crashing IE11/Edge */
/* Nice browser, Microsoft */
/* @page {
    margin: 20cm;
} */

@media (max-width: 575.98px) {
    
    .ReminderCardBody {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

}


@media print {

    p {
        margin-bottom: 0.5rem;
    }

    .ReminderHeader {
        background-color: white;
        color: black;
    }

    .ReminderCardBody {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ReminderEntry {
        font-size: 0.9rem;
    }


}