/* Theme Colors */
$themeDarkBluePrimary: #063647;
$themeDarkBlueSecondary: #073647;
$themeLightBlue: #1C7595;
$themeLightPurple: #93A9FA;
$themeRed: #A12F48;
$themeRoyalBlue: #1237C7;
$themeYellow: #E0D51F;
$themeLightGray: #E9ECEF;

/* Override default Bootstrap variables */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1900px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1610px
);

/* Import Bootstrap source */
@import "~bootstrap/scss/bootstrap";